/* line 1, ../sass/index.sass */
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
/* line 5, ../sass/index.sass */
body .sound {
  width: 63px;
  height: 24px;
}
/* line 8, ../sass/index.sass */
body .sound .sound_turnoff {
  background: url("../../img/btn_sound_turnoff.png") no-repeat;
  background-position: 0px 0px;
  float: left;
  width: 24px;
  height: 20px;
}
/* line 14, ../sass/index.sass */
body .sound .sound_open {
  background: url("../../img/btn_sound_open.png") no-repeat;
  background-position: 0px -20px;
  float: right;
  width: 24px;
  height: 20px;
}
