doctype html
html(lang='en' data-git=git data-rev=rev)
  meta(charset='utf-8')
  title ladder
  link(rel="stylesheet" href="/css/stylesheets/index.css")
body
  button#play 播放
  button#clean 初始
  div.sound
    a.sound_turnoff
    a.sound_open
  canvas#canvas
script(type="text/javascript",src="/js/index.js")
